
h1, h2, h3, h4, h5, h6, input, button, a, label, span, p, div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





.line-divider{
  height: 0.8px;
  background-color: rgb(199, 199, 204);
  border-radius: 12px;
  margin: 8px 0;
}

.title {
  font-weight: 600;
  font-size: 13px;
  color: black;
}

.pro-badge {
  font-weight: 600;
  font-size: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  
  border-radius: 12px;
  transition: background 0.2s ease;
  padding-left: 8px;
  padding-right: 8px;
  
}

.menu-item:hover {
  background-color: rgba(60, 60, 67, 0.18);
}

.icon {
  width: 26px;
  height: 26px;
  background-color: #007aff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  margin-right: 12px;
}

.folder-button {
  transition: background-color 1s ease, border-radius 1s ease;
}

.folder-button:hover {
  background-color: rgba(60, 60, 67, 0.18);
  border-radius: 50%;
}

.text{
  font-size: 13px;
  color: black;
}